<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <!-- <link rel="stylesheet" href="styles.css"> -->
  </head>
  <body>
    <% Object.keys(sighting).forEach(key => { %>
    <p><strong><%= key %>:</strong> <%= sighting[key] %></p>
    <% }) %>
    <form action="/sighting/<%= index %>/edit">
      <input type="submit" value="Edit" />
    </form>
    <form action="/sighting/<%= index %>/delete?_method=DELETE" method="POST">
      <input type="submit" value="Delete" />
    </form>
    <hr />
    <p><a href="/">Main Page</a></p>
  </body>
</html>
